.viewport-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.container {
  padding: calc(var(--spacing) * 1.5) var(--spacing);
  max-width: var(--main-width);
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  /*align-items: center;
  justify-content: center;*/
}
